*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/*
/.idea/assetWizardSettings.xml
.DS_Store
/build
/buildSrc/build
/buildSrc/.gradle
/app/build
/app/.gitignore
/captures
.externalNativeBuild
.cxx
local.properties
